@model IEnumerable<Employee>


    <h1>All Employee</h1>

    <br />

    <br />

    <a asp-action="Create" class="btn btn-primary">Create Employee</a>

    <br />
    <br />

@if(Model.Count()>0)
{
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Email</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Salary</th>
                <th>Is Active</th>
                <th>Is Deleted</th>
                <th>@Html.DisplayNameFor(E => E.CreateAt)</th>
                <th>@Html.DisplayNameFor(E => E.HireDate)</th>
                <th>Details</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    
                    <td>@item.Name</td>
                    <td>@item.Age</td>
                    <td>@item.Email</td>
                    <td>@item.Address</td>
                    <td>@item.Phone</td>
                    <td>@item.Salary</td>
                    <td>@item.IsActive</td>
                    <td>@item.IsDeleted</td>
                    <td>@item.CreateAt</td>
                    <td>@item.HireDate</td>
                    <td><a asp-action="Details" asp-route-id="@item.Id" class="btn btn-warning">Details</a></td>
                    <td><a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success">Update</a></td>
                    <td><form asp-action="Delete" asp-route-id="@item.Id" method="post" style="inline-size">
                        @Html.AntiForgeryToken()
                            <button type="submit" class="btn btn-danger " onclick="return confirm('Are you sure you want to delete this Employee?');">
                            Delete
                        </button>

                    </form></td>


                </tr>
            }
        </tbody>
    </table>
    
}else{
<h4 class="mt-4 alert alert-info">No Employee Found :(</h4>
}




